<div id="<%= dom_id question %>">
  <p>
    <strong>Content:</strong>
    <%= question.content %>
  </p>

  <p>
    <strong>Question type:</strong>
    <%= question.question_type %>
  </p>

  <p>
    <strong>Choices:</strong>
    <%= question.choices %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer %>
  </p>

  <p>
    <strong>Rubric:</strong>
    <%= question.rubric %>
  </p>

  <p>
    <strong>Worksheet:</strong>
    <%= question.worksheet_id %>
  </p>

</div>
