<div id="<%= dom_id submission %>">
  <p>
    <strong>Student:</strong>
    <%= submission.student_id %>
  </p>

  <p>
    <strong>Worksheet:</strong>
    <%= submission.worksheet_id %>
  </p>

  <p>
    <strong>Answers:</strong>
    <%= submission.answers %>
  </p>

  <p>
    <strong>Grades:</strong>
    <%= submission.grades %>
  </p>

</div>
