<%= form_with(model: student_enrollment_code) do |form| %>
  <% if student_enrollment_code.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student_enrollment_code.errors.count, "error") %> prohibited this student_enrollment_code from being saved:</h2>

      <ul>
        <% student_enrollment_code.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :classroom_id, style: "display: block" %>
    <%= form.text_field :classroom_id %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :used, style: "display: block" %>
    <%= form.check_box :used %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
