<div id="<%= dom_id student_enrollment_code %>">
  <p>
    <strong>Classroom:</strong>
    <%= student_enrollment_code.classroom_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= student_enrollment_code.code %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_enrollment_code.email %>
  </p>

  <p>
    <strong>Used:</strong>
    <%= student_enrollment_code.used %>
  </p>

  <p>
    <strong>User:</strong>
    <%= student_enrollment_code.user_id %>
  </p>

</div>
