<p style="color: green"><%= notice %></p>

<%= render @student_enrollment_code %>

<div>
  <%= link_to "Edit this student enrollment code", edit_student_enrollment_code_path(@student_enrollment_code) %> |
  <%= link_to "Back to student enrollment codes", student_enrollment_codes_path %>

  <%= button_to "Destroy this student enrollment code", @student_enrollment_code, method: :delete %>
</div>
